.App {
  text-align: center;
}

nav {
  background-color: #f2f2f2;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #333;
  text-decoration: none;
  margin-right: 1em;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}

#loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}